snippet :fix "FIX"
    FIX: 

snippet :todo "TODO"
    TODO: 

snippet :hack "HACK"
    HACK: 

snippet :warn "WARN"
    WARN: 

snippet :perf "PERF"
    PERF: 

snippet :note "NOTE"
    NOTE: 

snippet :test "TEST"
    TEST: 

