snippet atmefeat "ATME style commit"
  feat: [${2:`matchstr(fugitive#Head(), '/.\+$')[1:]`}] 

  [QA: ${1:None}]
  follow: https://ccnu-lab.atlassian.net/browse/${2}$0

snippet atmefix "ATME style commit"
  fix: [${2:`matchstr(fugitive#Head(), '/.\+$')[1:]`}] 

  [QA: ${1:Verify}]
  follow: https://ccnu-lab.atlassian.net/browse/${2}$0

