snippet fn "gen function"
  function ${1:name} (${2:args}) {
	  $0
  }

snippet ccp "react component gen"
  class ${1:name} extends Component{
	  constructor(${2:props}){
		  super(props)
		  $3
	  }
	  render($4){
		  $0
	  }
  }

snippet ift "if ... then"
  if (${1:statement}){
	  $0
  }
